<div style="width: 100%">
  <nb-card>
    <nb-card-header>
      <div class="instituteBox">
        <div class="instituteNameLogo">
          <span class="logo"
            ><img
              class="my-auto float-left"
              [src]="instituteDetails.secure_url"
              width="40px"
              height="40px"
              style="border-radius: 100%; border: 1px solid #000"
          /></span>
          <span
            class="name"
            style="color: #ffd500; font-size: 30px; padding-top: 10px; font-weight: bold"
          >
            {{ instituteDetails.name | uppercase }}
          </span>
        </div>
      </div>
    </nb-card-header>
  </nb-card>
</div>
