<div class="wrapper fadeInDown forgotPasswordContainer">
  <div id="formContent">
    <nb-layout>
      <nb-layout-column style="background-color: white">
        <nb-card style="box-shadow: none">
          <nb-card-body class="text-center">
            <div class="text-left"></div>
            <div class="fadeIn first">
              <img src="assets/img/EA FAVI.png" id="icon" alt="User Icon" style="width: 25%" />
            </div>
            <h3>Forgot Password</h3>
            <p>Please put in your email to receive OTP</p>

            <form [formGroup]="forgotPasswordForm" (ngSubmit)="resetPassword()">
              <input
                type="email"
                id="email"
                class="fadeIn first"
                formControlName="email"
                placeholder="Enter Email"
              />
              <div
                *ngIf="
                  !forgotPasswordForm.get('email').valid && forgotPasswordForm.get('email').touched
                "
              >
                <small>*Enter Valid email</small>
              </div>

              <input
                type="text"
                class="fadeIn first"
                pattern="\d*"
                minlength="4"
                maxlength="4"
                formControlName="otp"
                placeholder="Enter OTP"
                *ngIf="otpSend"
              />
              <div
                *ngIf="
                  otpSend &&
                  !otpVerified &&
                  !forgotPasswordForm.get('otp').valid &&
                  forgotPasswordForm.get('otp').touched
                "
              >
                <small>*Enter Valid 4 digit OTP</small>
              </div>

              <input
                type="password"
                class="fadeIn first"
                minlength="6"
                formControlName="password"
                placeholder="Enter New Password"
                *ngIf="otpVerified"
              />
              <div
                *ngIf="
                  otpVerified &&
                  !forgotPasswordForm.get('password').valid &&
                  forgotPasswordForm.get('password').touched
                "
              >
                <small>*Enter Password Minimum Length of 6</small>
              </div>

              <button
                type="button"
                class="my-3"
                *ngIf="!otpSend && !otpVerified"
                (click)="getOtp()"
              >
                Get Otp
              </button>

              <button type="button" *ngIf="otpSend && !otpVerified" (click)="verifyOtp()">
                Verify
              </button>

              <button type="submit" *ngIf="otpSend && otpVerified">Reset Password</button>
            </form>

            <div class="text-center">
              <span class="btn-link pointer" *ngIf="otpSend && !otpVerified" (click)="resendOtp()">
                Resend OTP
              </span>
            </div>

            <span
              >Login here:
              <a class="btn btn-link d-inline-block" routerLink="/login">Login</a></span
            >
          </nb-card-body>
        </nb-card>
      </nb-layout-column>
    </nb-layout>
  </div>
</div>
