.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.75);
  z-index: 50;
}

.tnc-box {
  position: fixed;
  top: 10vh;
  left: 20vw;
  width: 60vw;
  padding: 1px;
  z-index: 100;
  background: #fff;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
}

.tnc-box-actions {
  text-align: right;
}

@media only screen and (max-width: 1200px) {
  .tnc-box {
    top: 15vh;
    left: 15vw;
    width: 75vw;
  }
}

@media only screen and (max-width: 840px) {
  .tnc-box {
    top: 10vh;
    left: 10vw;
    width: 80vw;
  }
}

@media only screen and (max-width: 420px) {
  .tnc-box {
    top: 7vh;
    left: 5vw;
    width: 90vw;
  }
}
