<div class="row">
  <div class="col-md-6 col-12 mx-auto">
    <nb-card>
      <nb-card-header>
        <h2 class="page-heading">Change Password</h2>
      </nb-card-header>
      <nb-card-body>
        <form [formGroup]="form" (submit)="changePassword()">
          <div class="form-group">
            <label class="input-label" for="oldPassword">Old Password</label>
            <input
              class="input-password"
              type="password"
              id="oldPassword"
              nbInput
              fullWidth
              [status]="
                !form.get('oldPassword').valid && form.get('oldPassword').touched
                  ? 'danger'
                  : 'basic'
              "
              name="oldPassword"
              formControlName="oldPassword"
            />
            <span
              class="input-error"
              *ngIf="!form.get('oldPassword').valid && form.get('oldPassword').touched"
              >*Please enter Your Old Password</span
            >
          </div>

          <div class="form-group">
            <label class="input-label" for="password">New Password</label>
            <input
              class="input-password"
              type="password"
              id="password"
              nbInput
              fullWidth
              [status]="
                !form.get('password').valid && form.get('password').touched ? 'danger' : 'basic'
              "
              name="password"
              formControlName="password"
            />
            <span
              class="input-error"
              *ngIf="!form.get('password').valid && form.get('password').touched"
              >*Please enter New Password</span
            >
          </div>

          <div class="form-group">
            <label class="input-label" for="confirm_password">Confirm New Password</label>
            <input
              class="input-password"
              type="password"
              id="confirm_password"
              nbInput
              fullWidth
              [status]="
                !form.get('confirm_password').valid && form.get('confirm_password').touched
                  ? 'danger'
                  : 'basic'
              "
              name="confirm_password"
              formControlName="confirm_password"
            />
            <span
              class="input-error"
              *ngIf="!form.get('confirm_password').valid && form.get('confirm_password').touched"
              >*Please enter Confirm Password</span
            >
          </div>

          <div>
            <span
              class="input-error"
              *ngIf="form.hasError('invalidPassword') && form.get('password').touched"
              >*Password & Confirm Password Does Not Match</span
            >
          </div>

          <hr />

          <div>
            <button class="btn btn-primary btn-change-password" type="submit">Change</button>
          </div>
        </form>
      </nb-card-body>
    </nb-card>
  </div>
</div>
