.paid-installment {
  background-color: #00d68f;
  color: #fff;
}
.unpaid-installment {
  background-color: #c80505;
  color: #fff;
}

.receipt {
  color: #ffd500;
  font-weight: bold;
}

@media only screen and (max-width: 600px) {
  .table-responsive {
    height: unset !important;
  }
}
