<nb-card>
  <nb-card-header>
    <button class="btn btn-yellow float-right" nbButton routerLink="add" *ngIf="plans.length < 4">
      Add Plan
    </button>
    <h3>Plans</h3>
  </nb-card-header>
  <nb-card-body>
    <div class="table-responsive" *ngIf="plans.length > 0; else noPlans">
      <table class="table">
        <thead>
          <tr>
            <th>Plan Type</th>
            <th>Plan Code</th>
            <th>Plan Amount</th>
            <th>Plan Upgrade Amount</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let plan of plans">
            <td>{{ plan.planType }}</td>
            <td>{{ plan.planCode }}</td>
            <td>{{ plan.amount }}.00/-</td>
            <td>{{ plan.upgradeAmount }}.00/-</td>
            <td>
              <button class="btn" nbButton status="basic" (click)="editPlan(plan._id)">Edit</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <ng-template #noPlans>
      <p class="pt-5 text-center">No PLans Added</p>
    </ng-template>
  </nb-card-body>
</nb-card>
