<ngx-institute-header></ngx-institute-header>

<nb-card>
  <nb-card-body>
    <div class="row">
      <div class="col-md-1">
        <div class="date-block">
          <span class="day">{{ getDay(attendanceBasicDetail.days.date) }}</span>
          <span class="month">{{ getMonth(attendanceBasicDetail.days.date) }}</span>
        </div>
      </div>
      <div class="col-md-3">
        <div>
          <label>Date : </label><span class="boldText">{{ attendanceBasicDetail.days.date }}</span>
        </div>
        <div>
          <label>Time : </label
          ><span class="boldText"
            >{{ attendanceBasicDetail.days.startTime }} -
            {{ attendanceBasicDetail.days.endTime }}</span
          >
        </div>
      </div>
      <div class="col-md-3">
        <div>
          <label>Topic : </label
          ><span class="boldText">{{ attendanceBasicDetail.days.topic }}</span>
        </div>
        <div>
          <label>Teacher : </label
          ><span class="boldText">{{ attendanceBasicDetail.days.teacherName }}</span>
        </div>
      </div>
      <div class="col-md-3">
        <label>Batch : </label
        ><span class="boldText">{{ attendanceBasicDetail.days.batchName }}</span>
      </div>
    </div>
    <hr />
    <div class="uploadInstructions">
      <div class="boldText">BULK UPLOAD</div>
      <div>
        To bulk upload the attendance of this class, please follow the below mentioned steps:
      </div>
      <div>
        1.Download the template by clicking on the
        <span class="btnText"> "Download" </span>
        <span class="btnIcon">
          <nb-icon icon="arrow-circle-down-outline"></nb-icon>
        </span>
        button
      </div>
      <div>2.Fill the roll nos. of the students "PRESENT" in column 1</div>
      <div>3.Save as *.CSV file</div>
      <div class="boldText lastLine">
        <div class="row w-100">
          <div class="col-md-6">
            <span
              >Upload the file using the
              <span class="btnText"> "Upload" </span>
              <span class="btnIcon">
                <nb-icon icon="upload-outline"></nb-icon>
              </span>
              button</span
            >
          </div>
          <div class="col-md-6">
            <div class="float-right uploadBtns">
              <a
                class="btn btn-yellow-black"
                style="color: black; padding: 8px 14px"
                href="#"
                (click)="openUrl(sampleExcel)"
              >
                <span class="btnText"> Download </span>
                <span class="btnIcon">
                  <nb-icon icon="arrow-circle-down-outline"></nb-icon>
                </span>
              </a>
              <button nbButton status="success" (click)="fileInput.click()">
                <span class="btnText"> Upload </span>
                <span class="btnIcon">
                  <nb-icon icon="upload-outline"></nb-icon>
                </span>
              </button>
              <input
                type="file"
                nbInput
                status="basic"
                style="display: none"
                fullWidth
                (change)="onFilePicked($event)"
                #fileInput
              />
              <button
                *ngIf="file && !invalidFile"
                style="margin-left: 0px"
                class="btn btn-yellow-black"
                (click)="uploadFile()"
              >
                <span class="btnText"> Submit </span>
                <span class="btnIcon">
                  <nb-icon icon="arrow-forward-outline"></nb-icon>
                </span>
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="text-right" style="margin-right: 20px">
        <span style="color: #f00" *ngIf="invalidFile"
          >*File format must be *.xsl, *.xlsx, *.csv</span
        >
        <span style="font-weight: bold" *ngIf="file && !invalidFile">{{ file.name }}</span>
      </div>
    </div>
  </nb-card-body>
</nb-card>

<nb-card>
  <nb-card-header>
    <div class="boldText">MANUAL ATTENDANCE RECORDING</div>
  </nb-card-header>
  <nb-card-body>
    <div class="lastLine">
      <span
        >Check the students that are/were present in this class or select all by clicking on the
        button</span
      >
      <button class="btn btn-yellow-black" (click)="markAllAttendance()">
        {{ markAllCheckBox ? 'Select All' : 'Deselect ALl' }}
      </button>
    </div>
    <div class="attendanceTable">
      <table class="table table-borderless text-center">
        <thead>
          <tr>
            <th></th>
            <th class="text-center">STUDENT NAME</th>
            <th class="text-center">ROLL NO.</th>
            <th class="text-center">PRESENT</th>
            <th *ngIf="edit"></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let singleAttendance of attendance; let i = index">
            <td></td>
            <td>{{ singleAttendance.studentName }}</td>
            <td>{{ singleAttendance.studentRollNo }}</td>
            <td>
              <nb-checkbox
                (checkedChange)="markSingleAttendance($event, i)"
                [checked]="singleAttendance.attendanceStatus"
              >
              </nb-checkbox>
            </td>
            <td *ngIf="edit">
              <button
                nbButton
                status="warning"
                (click)="viewAttendance(singleAttendance.studentId, singleAttendance.studentName)"
              >
                <span class="btnText"> VIEW ATTENDANCE </span>

                <span class="btnIcon">
                  <nb-icon icon="eye-outline"></nb-icon>
                </span>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="text-right">
      <button nbButton status="success" (click)="saveAttendance()">SAVE ATTENDANCE</button>
    </div>
  </nb-card-body>
</nb-card>
