<nb-card *ngIf="employee">
  <nb-card-header>
    <button nbButton status="danger" class="btn float-right mr-3" (click)="deleteEmployee()">
      Delete
    </button>
    <button class="btn float-right mr-3 btn btn-yellow" (click)="edit()">Edit</button>
  </nb-card-header>
  <nb-card-body>
    <div class="row">
      <div class="col-sm-1"></div>
      <div class="col-sm-5">
        <p class="font-weight-bold">Name</p>
      </div>
      <div class="col-sm-5">
        <p>{{ employee.basicDetails.name }}</p>
      </div>
      <div class="col-sm-1"></div>
    </div>
    <hr />
    <div class="row">
      <div class="col-sm-1"></div>
      <div class="col-sm-5">
        <p class="font-weight-bold">Role</p>
      </div>
      <div class="col-sm-5">
        <p>{{ employee.instituteDetails.role }}</p>
      </div>
      <div class="col-sm-1"></div>
    </div>
    <hr />
    <div class="row">
      <div class="col-sm-1"></div>
      <div class="col-sm-5">
        <p class="font-weight-bold">Email</p>
      </div>
      <div class="col-sm-5">
        <p>{{ employee.basicDetails.employeeEmail }}</p>
      </div>
      <div class="col-sm-1"></div>
    </div>
    <hr />
    <div class="row">
      <div class="col-sm-1"></div>
      <div class="col-sm-5">
        <p class="font-weight-bold">Contact</p>
      </div>
      <div class="col-sm-5">
        <p>{{ employee.basicDetails.employeeContact }}</p>
      </div>
      <div class="col-sm-1"></div>
    </div>
    <hr />
    <div class="row">
      <div class="col-sm-1"></div>
      <div class="col-sm-5">
        <p class="font-weight-bold">Address</p>
      </div>
      <div class="col-sm-5">
        <p>{{ employee.basicDetails.employeeAddress }}</p>
      </div>
      <div class="col-sm-1"></div>
    </div>
    <hr />
  </nb-card-body>
</nb-card>
