<!-- <ngx-institute-header></ngx-institute-header> -->

<nb-card>
  <nb-card-header>
    <p style="color: black; font-weight: bold">Settings</p>
  </nb-card-header>
  <nb-card-body>
    <form [formGroup]="settingForm" (ngSubmit)="onSubmit()">
      <div class="row">
        <div class="col-sm-6">
          <label for="publicKey">Public Key</label>
          <input
            type="text"
            nbInput
            id="publicKey"
            fullWidth
            [status]="f.publicKey.errors && f.publicKey.touched ? 'danger' : 'basic'"
            formControlName="publicKey"
            placeholder="Public Key"
          />
          <small *ngIf="f.publicKey.errors && f.publicKey.touched">*Public Key is req.</small>
        </div>
        <div class="col-sm-6">
          <label for="secretKey">Secret Key</label>
          <input
            type="text"
            nbInput
            id="secretKey"
            fullWidth
            [status]="f.secretKey.errors && f.secretKey.touched ? 'danger' : 'basic'"
            formControlName="secretKey"
            placeholder="Secret Key"
          />
          <small *ngIf="f.secretKey.errors && f.secretKey.touched">*Secret Key is req.</small>
        </div>
      </div>
      <div style="display: block; margin-top: 1rem; text-align: right">
        <button class="btn btn-yellow-black" type="submit">
          {{ edit === 'true' ? 'Update Keys' : 'Add Keys' }}
        </button>
      </div>
    </form>
  </nb-card-body>
</nb-card>
