<nb-card>
  <nb-card-header style="background-color: #ffd500"> <h4>Utilities</h4></nb-card-header>
  <nb-card-body>
    Below are some utilities that may enhance your experience of online classes with EA Live. Please
    note that none of these software/links are owned and/or operated by Eduatlas and hance, are
    governed by their own terms and conditions. Users are advised to use their discretion before
    downloading any of the below mentioned utilities.
    <br />
    Clicking on the links below will redirect you to a webpage outside EDUATLAS.
    <br />
    <br />
    <br />
    <nb-card>
      <nb-card-header style="background-color: #ffd500">
        <h4>FREE SCREEN RECORDER</h4></nb-card-header
      >
      <nb-card-body>
        <h6>FREE CAM</h6>
        <div class="row">
          <div class="col-md-10">
            Easily create screencasts, edit recorded videos, and upload to YouTube. No watermark or
            time limits
          </div>
          <div class="col-md-2">
            <a
              class="btn btn-yellow-black"
              style="background-color: #00d68f"
              href="https://www.freescreenrecording.com/"
              target="_blank"
              >Open</a
            >
          </div>
        </div>
      </nb-card-body>
    </nb-card>

    <nb-card>
      <nb-card-header style="background-color: #ffd500"> <h4>FREE WHITE BOARD</h4></nb-card-header>
      <nb-card-body>
        <h6>OpenBoard</h6>
        <div class="row">
          <div class="col-md-10">
            OpenBoard is an open source cross-platform teaching software for interactive whiteboard.
          </div>
          <a
            class="btn btn-yellow-black"
            style="background-color: #00d68f"
            href="http://openboard.ch/"
            target="_blank"
            >Open</a
          >
        </div>
        <br />
      </nb-card-body>
    </nb-card>
  </nb-card-body>
</nb-card>
