@import '~@nebular/theme/styles/theming';
@import '~@nebular/theme/styles/themes/default';

$nb-enable-css-custom-properties: true;
$nb-themes: nb-register-theme(
  (
    outline-color: black,
  ),
  default,
  default
);
small {
  color: red;
}

.image-preview {
  height: 1rem;
  margin: 1rem 0;
}
input,
nb-select {
  display: block;
}
p {
  color: black;
  font-weight: bold;
}

::ng-deep nb-layout-column {
  height: 80vw;
}
@media only screen and (max-width: 600px) {
  .col-sm-12,
  .col-sm-6,
  .col-sm-4 {
    padding-left: 0rem !important;
    padding-right: 0rem !important;
  }
}
