<nb-card>
  <nb-card-body>
    <div class="row">
      <div class="col-sm-1"></div>
      <div class="col-sm-5">
        <p>Id</p>
      </div>
      <div class="col-sm-5">
        <span>{{ courses.id }}</span>
      </div>
      <div class="col-sm-1"></div>
    </div>
    <hr />
    <div class="row">
      <div class="col-sm-1"></div>
      <div class="col-sm-5">
        <p>Course Name</p>
      </div>
      <div class="col-sm-5">
        <span>{{ courses.name }}</span>
      </div>
      <div class="col-sm-1"></div>
    </div>
    <hr />
    <div class="row">
      <div class="col-sm-1"></div>
      <div class="col-sm-5">
        <p>Code</p>
      </div>
      <div class="col-sm-5">
        <span>{{ courses.code }}</span>
      </div>
      <div class="col-sm-1"></div>
    </div>
    <div class="row">
      <div class="col-sm-1"></div>
      <div class="col-sm-5">
        <p>Duration</p>
      </div>
      <div class="col-sm-5">
        <span>{{ courses.duration }}</span>
      </div>
      <div class="col-sm-1"></div>
    </div>
    <hr />
    <div class="row">
      <div class="col-sm-1"></div>
      <div class="col-sm-5">
        <p>Fees</p>
      </div>
      <div class="col-sm-5">
        <span>{{ courses.fees }}</span>
      </div>
      <div class="col-sm-1"></div>
    </div>
    <hr />
    <div class="row">
      <div class="col-sm-1"></div>
      <div class="col-sm-5">
        <p>GST</p>
      </div>
      <div class="col-sm-5">
        <span>{{ courses.gst }}</span>
      </div>
      <div class="col-sm-1"></div>
    </div>
    <hr />
    <div class="row">
      <div class="col-sm-1"></div>
      <div class="col-sm-5">
        <p>Description</p>
      </div>
      <div class="col-sm-5">
        <span>{{ courses.discription }}</span>
      </div>
      <div class="col-sm-1"></div>
    </div>
    <hr />
    <div class="row">
      <div class="col-sm-1"></div>
      <div class="col-sm-5">
        <p>Total Fees</p>
      </div>
      <div class="col-sm-5">
        <span>{{ courses.totalFee }}</span>
      </div>
      <div class="col-sm-1"></div>
    </div>
  </nb-card-body>
</nb-card>
