<ngx-student-institute-header></ngx-student-institute-header>
<nb-card *ngIf="display" class="mobileFullHeight">
  <nb-card-header>
    <div class="row">
      <div class="col-sm-9">
        <h4 class="font-weight-bolder">ATTENDANCE</h4>
      </div>

      <div class="col-sm-3">
        <div class="form-group">
          <nb-select
            placeholder="Select Course"
            status="basic"
            fullWidth
            (selectedChange)="onSelectCourse($event)"
            [(selected)]="courseId"
          >
            <nb-option value="">Select Course</nb-option>
            <nb-option *ngFor="let course of courses" [value]="course._id">{{
              course.courseName + ' (' + course.batchCode + ')'
            }}</nb-option>
          </nb-select>
        </div>
      </div>
    </div>
  </nb-card-header>
  <nb-card-body>
    <div class="row" *ngIf="total > 0; else noAttendance">
      <div class="col-12">
        <div class="row">
          <div class="col-md-3">
            <p><strong>Total Lectures: </strong> {{ total }}</p>
          </div>
          <div class="col-md-3">
            <p><strong>Total Present: </strong> {{ present }}</p>
          </div>
          <div class="col-md-3">
            <p><strong>Total Absent: </strong> {{ absent }}</p>
          </div>
          <div class="col-md-3">
            <p>
              <strong>Attendance Percentage: </strong> {{ ((present * 100) / total).toFixed(2) }}%
            </p>
          </div>
          <div class="col-md-3">
            <p><strong>Student Name : </strong> {{ studentName }}</p>
          </div>
        </div>
        <div class="table-responsive">
          <table class="table table-borderless text-center">
            <thead>
              <tr>
                <th>#</th>
                <th>Date</th>
                <th>Attendance Status</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let atten of attendance; let i = index">
                <td>{{ i + 1 }}</td>
                <td>{{ atten.date }}</td>
                <td>{{ atten.status ? 'Present' : 'Absent' }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <ng-template #noAttendance>
      <p class="mt-5 text-center">{{ noAttendanceData }}</p>
    </ng-template>
  </nb-card-body>
</nb-card>
