<!-- <ngx-institute-header></ngx-institute-header> -->

<nb-card *ngIf="display" class="mobileFullHeight">
  <nb-card-header>
    Announcements
    <button
      class="btn btn-yellow-black float-right"
      [routerLink]="'/pages/communication/add-announcements/' + this.instituteId"
    >
      ADD ANNOUNCEMENT
    </button>
  </nb-card-header>
  <nb-card-body>
    <ng-container *ngIf="announcements.length > 0; else noAnnouncements">
      <div class="row">
        <div class="col-12">
          <div class="table-responsive">
            <table class="table table-borderless">
              <thead>
                <tr>
                  <th>ID</th>
                  <th>Title</th>
                  <th>Date</th>
                  <th>Attachment</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of announcements; let i = index">
                  <td>
                    <span> {{ i + 1 }}</span>
                  </td>
                  <td>
                    <span> {{ formatDate(item.title) }}</span>
                  </td>
                  <td>
                    <span> {{ item.date }}</span>
                  </td>
                  <td>
                    <a
                      href="#"
                      *ngIf="item.attachment"
                      (click)="openUrl(item.attachment.secure_url)"
                      >{{ item.attachment.file_name }}</a
                    >
                    <span *ngIf="!item.attachment">--</span>
                  </td>
                  <div class="text-nowrap">
                    <button class="mr-3 mb-2" nbButton (click)="onView(item._id)">
                      <span class="btnText"> View </span>

                      <span class="btnIcon">
                        <nb-icon icon="eye-outline"></nb-icon>
                      </span>
                    </button>
                    <button class="mr-3 mb-2 btn-yellow" nbButton (click)="edit(item._id)">
                      <span class="btnText"> Edit </span>

                      <span class="btnIcon">
                        <nb-icon icon="edit-outline"></nb-icon>
                      </span>
                    </button>
                    <button class="mr-3 mb-2" nbButton status="success" (click)="repeat(item._id)">
                      <span class="btnText"> Repeat </span>
                      <span class="btnIcon">
                        <nb-icon icon="refresh-outline"></nb-icon>
                      </span>
                    </button>
                    <button class="mb-2" nbButton status="danger" (click)="onDelete(item._id)">
                      <span class="btnText"> Delete </span>
                      <span class="btnIcon">
                        <nb-icon icon="trash-2-outline"></nb-icon>
                      </span>
                    </button>
                  </div>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </ng-container>
    <ng-template #noAnnouncements>
      <p class="text-center pt-5">No Announcements</p>
    </ng-template>
  </nb-card-body>
</nb-card>
