<!-- <ngx-institute-header></ngx-institute-header> -->
<ngx-upload-class-recording
  *ngIf="uploadClassRecording"
  [meeting]="meetingDetails"
  [instituteId]="instituteId"
  (close)="closeUploadRecording()"
  (deleteClassRecording)="deleteClassRecording($event)"
></ngx-upload-class-recording>

<ngx-view-class-recording
  *ngIf="viewClassRecording"
  [meeting]="meetingDetails"
  (close)="closeViewRecording()"
  (deleteClassRecording)="deleteClassRecording($event)"
></ngx-view-class-recording>

<nb-card status="info" *ngIf="display">
  <nb-card-header>
    <div class="row">
      <div class="col-sm-6">ONLINE CLASSES</div>
      <div class="col-sm-3 mt-2">
        <nb-select
          placeholder="Select Course"
          status="basic"
          fullWidth
          (selectedChange)="onSelectCourse($event)"
        >
          <nb-option value="">All Courses</nb-option>
          <nb-option *ngFor="let course of institute.course" [value]="course._id">{{
            course.name
          }}</nb-option>
        </nb-select>
      </div>
      <div class="col-sm-3 mt-2">
        <nb-select
          placeholder="Select Batch"
          fullWidth
          status="basic"
          (selectedChange)="onSelectBatch($event)"
        >
          <nb-option value="">All Batches</nb-option>
          <nb-option *ngFor="let batch of batches" [value]="batch._id">{{
            batch.batchCode
          }}</nb-option>
        </nb-select>
      </div>
    </div>
  </nb-card-header>
  <nb-card-body>
    <div class="row">
      <div class="col-12">
        <div class="col-12">
          <nb-tabset fullWidth>
            <nb-tab tabTitle="UPCOMING CLASSES">
              <div class="table-responsive" *ngIf="upcomingMeetings.length > 0; else noMeetings">
                <table class="table">
                  <tbody>
                    <tr *ngFor="let meeting of upcomingMeetings; let i = index">
                      <td>
                        <div class="date-block">
                          <span class="month">{{ month(meeting.date) }}</span>
                          <span class="day">{{ day(meeting.date) }}</span>
                        </div>
                      </td>
                      <td class="text-nowrap">
                        <div class="meeting-details">
                          <div class="detail1">Topic: {{ meeting.topic }}</div>
                          <!-- <div class="detail1">Batch: {{ meeting.batch }}</div> -->
                        </div>
                      </td>
                      <td class="text-nowrap">
                        <div class="meeting-details">
                          <div class="detail1">From Time: {{ createTime(meeting.fromTime) }}</div>
                          <div class="detail1">To Time: {{ createTime(meeting.toTime) }}</div>
                        </div>
                      </td>
                      <td>
                        <button
                          class="mr-3 mb-1"
                          nbButton
                          status="success"
                          (click)="start(meeting.link)"
                        >
                          <span class="btnIcon">
                            <nb-icon icon="play-circle-outline"></nb-icon>
                          </span>
                          <span class="btnText"> Start </span>
                        </button>

                        <button class="mr-3 mb-1 btn-yellow" nbButton (click)="edit(meeting._id)">
                          <span class="btnIcon">
                            <nb-icon icon="edit-outline"></nb-icon>
                          </span>
                          <span class="btnText"> Edit </span>
                        </button>

                        <button
                          class="mr-3 mb-1"
                          nbButton
                          status="danger"
                          (click)="deleteMeeting(meeting._id, 'upcoming')"
                        >
                          <span class="btnIcon">
                            <nb-icon icon="close-circle-outline"></nb-icon>
                          </span>
                          <span class="btnText"> Cancel </span>
                        </button>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </nb-tab>
            <nb-tab tabTitle="PREVIOUS CLASSES">
              <div class="table-responsive" *ngIf="previousMeetings.length > 0; else noMeetings">
                <table class="table">
                  <tbody>
                    <tr *ngFor="let meeting of previousMeetings; let i = index">
                      <td>
                        <div class="date-block">
                          <span class="month">{{ month(meeting.date) }}</span>
                          <span class="day">{{ day(meeting.date) }}</span>
                        </div>
                      </td>
                      <td class="text-nowrap">
                        <div class="meeting-details">
                          <div class="detail1">Topic: {{ meeting.topic }}</div>
                          <!-- <div class="detail1">Batch: {{ meeting.batch }}</div> -->
                        </div>
                      </td>
                      <td class="text-nowrap">
                        <div class="meeting-details">
                          <div class="detail1">From Time: {{ createTime(meeting.fromTime) }}</div>
                          <div class="detail1">To Time: {{ createTime(meeting.toTime) }}</div>
                        </div>
                      </td>
                      <td>
                        <button
                          class="mr-3 mb-1"
                          nbButton
                          status="success"
                          (click)="uploadRecording(meeting)"
                        >
                          <span class="btnText"> Upload Recording </span>

                          <span class="btnIcon">
                            <nb-icon icon="upload-outline"></nb-icon>
                          </span>
                        </button>
                        <button class="mr-3 mb-1 btn btn-yellow" (click)="viewRecording(meeting)">
                          <span class="btnText"> View </span>

                          <span class="btnIcon">
                            <nb-icon icon="eye-outline"></nb-icon>
                          </span>
                        </button>

                        <button
                          class="mr-3 mb-1"
                          nbButton
                          status="danger"
                          (click)="deleteMeeting(meeting._id, 'previous')"
                        >
                          <span class="btnText"> Delete </span>

                          <span class="btnIcon">
                            <nb-icon icon="trash-2-outline"></nb-icon>
                          </span>
                        </button>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </nb-tab>
          </nb-tabset>
        </div>
      </div>
    </div>
    <ng-template #noMeetings>
      <p class="mt-5 text-center">No Meetings Available</p>
    </ng-template>
  </nb-card-body>
</nb-card>
