<ngx-institute-header></ngx-institute-header>

<nb-card class="mobileFullHeight">
  <nb-card-body>
    <nb-tabset fullWidth>
      <nb-tab tabTitle="UnMarked Class">
        <div *ngIf="attendanceSchedule.unmarked.length > 0; else noRecords">
          <div class="row" *ngFor="let unmarkedAttendance of attendanceSchedule.unmarked">
            <div class="col-sm-1">
              <div class="date-block">
                <span class="day">{{ getDay(unmarkedAttendance.days.date) }}</span>
                <span class="month">{{ getMonth(unmarkedAttendance.days.date) }}</span>
              </div>
            </div>
            <div class="col-sm-3">
              <div>
                <label>Date : </label
                ><span class="boldText">{{ unmarkedAttendance.days.date }}</span>
              </div>
              <div>
                <label>Time : </label
                ><span class="boldText"
                  >{{ unmarkedAttendance.days.startTime }} -
                  {{ unmarkedAttendance.days.endTime }}</span
                >
              </div>
            </div>
            <div class="col-sm-3">
              <div>
                <label>Topic : </label
                ><span class="boldText">{{ unmarkedAttendance.days.topic }}</span>
              </div>
              <div>
                <label>Teacher : </label
                ><span class="boldText">{{ unmarkedAttendance.days.teacherName }}</span>
              </div>
            </div>
            <div class="col-sm-3">
              <div class="float-left">
                <div>
                  <label>Course : </label
                  ><span class="boldText">{{ unmarkedAttendance.days.courseName }}</span>
                </div>
                <div>
                  <label>Batch : </label
                  ><span class="boldText">{{ unmarkedAttendance.days.batchName }}</span>
                </div>
              </div>
            </div>
            <div class="attendance-btn">
              <button
                class="btn btn-yellow-black float-right"
                [title]="
                  isMarkAllowed(unmarkedAttendance.date)
                    ? 'You cant mark this Attendance, Lecture not started yet'
                    : 'Mark This Attendance'
                "
                (click)="markAttendance(unmarkedAttendance)"
                [disabled]="isMarkAllowed(unmarkedAttendance.date)"
              >
                Mark
              </button>
            </div>
          </div>
        </div>
      </nb-tab>
      <nb-tab tabTitle="Marked Class">
        <div *ngIf="attendanceSchedule.marked.length > 0; else noRecords">
          <div class="row" *ngFor="let markedAttendance of attendanceSchedule.marked">
            <div class="col-md-1">
              <div class="date-block">
                <span class="day">{{ getDay(markedAttendance.days.date) }}</span>
                <span class="month">{{ getMonth(markedAttendance.days.date) }}</span>
              </div>
            </div>
            <div class="col-md-3">
              <div>
                <label>Date : </label><span class="boldText">{{ markedAttendance.days.date }}</span>
              </div>
              <div>
                <label>Time : </label
                ><span class="boldText"
                  >{{ markedAttendance.days.startTime }} - {{ markedAttendance.days.endTime }}</span
                >
              </div>
            </div>
            <div class="col-md-3">
              <div>
                <label>Topic : </label
                ><span class="boldText">{{ markedAttendance.days.topic }}</span>
              </div>
              <div>
                <label>Teacher : </label
                ><span class="boldText">{{ markedAttendance.days.teacherName }}</span>
              </div>
            </div>
            <div class="col-md-3">
              <div>
                <label>Course : </label
                ><span class="boldText">{{ markedAttendance.days.courseName }}</span>
              </div>
              <div>
                <label>Batch : </label
                ><span class="boldText">{{ markedAttendance.days.batchName }}</span>
              </div>
            </div>
            <div class="attendance-btn">
              <button nbButton status="danger" (click)="editAttendance(markedAttendance)">
                Edit
              </button>
            </div>
          </div>
        </div>
      </nb-tab>
    </nb-tabset>
  </nb-card-body>
</nb-card>
<ng-template #noRecords>
  <p class="text-center pt-5">No Records Found</p>
</ng-template>
